### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
with open("test.txt","w") as f:
    f.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open("test.txt") as f:
    test2 = f.read()
print(test2)

This is a test of the emergency text system,

There is no difference between test1 and test2.

### 3. Create a CSV file called books.csv by using these lines:
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992<br>

In [3]:
st = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''

with open("books.csv" , "w", encoding="utf-8") as f:
    f.write(st)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
conn = sqlite3.connect("books.db")
c = conn.cursor()

In [5]:
c.execute("CREATE TABLE books(title varchar(30), author varchar(30), year int)")
conn.commit()

### 5. Read books.csv and insert its data into the book table.

In [6]:
import pandas as pd
df = pd.read_csv("books.csv")

In [7]:
df.to_sql("books",conn, if_exists="append",index = False)

5

### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
for item in c.execute("select title from books order by title"):
    print(item)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

In [9]:
for item in c.execute("select * from books order by year"):
    print(item)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
import sqlalchemy

In [11]:
conn = sqlalchemy.create_engine("sqlite:///books.db")
for item in conn.execute("SELECT * FROM books"):
    print(item)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [12]:
import redis

In [13]:
test = redis.StrictRedis(host="localhost", port=6379, decode_responses = True)

In [14]:
test.set("count",1)

True

In [15]:
test.set("name","Fester Bestertester")

True

In [16]:
count = test.get("count")
name = test.get("name")

In [17]:
print(count)
print(name)

1
Fester Bestertester

### 10. Increment the count field of test and print it.

In [18]:
print("Before : ",test.get("count"))
test.incr("count")
print("After : ",test.get("count"))

Before :  1
After :  2